@model ChannelEngine_Sheldon.BusinessLogic.Models.GroupedProductsViewModel
@{ Layout = "_Layout"; ViewBag.Title = "Top 5 Products Sold";}

<h2>Top 5 Products Sold</h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>GTIN</th>
            <th>Quantity</th>
            <th>Set Stock Level</th>
            <th>Update Stock Level</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model.groupedProducts)
        {
        <tr>

            <td>@o.Description</td>
            <td>@o.Gtin</td>
            <td>@o.Quantity</td>
            <td><input type ="number" name ="StockLevel" min="1" max="1000" step="1" id="@o.MerchantProductNo" width="100px"/></td>
            <td>
                <input type="button" onclick="postStockLevel('@o.MerchantProductNo.ToString()', '@o.StockLocationId.ToString()', '@o.MerchantProductNo.ToString()')" value="Update Stock" /> 
                @*<a asp-action="UpdateStock" asp-route-MerchantProductNo="@o.MerchantProductNo" asp-route-StockLocationId="@o.StockLocationId" asp-route-StockLevel="StockLevel">
                    Set Stock Level to 25
                </a>*@
            </td>
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var postStockLevel = function (merchantProductNo,stockLocationId, stockLevel) {
        var sl = document.getElementById(stockLevel).value;

        window.location.href = '@Url.Action("UpdateStock", "Home")' + '?MerchantProductNo=' + merchantProductNo + '&StockLocationId=' + stockLocationId + '&StockLevel=' + sl ;
    }
</script>